@model rda_raipur.Models.UserCategory_Master

@{
    Layout = "~/Views/AdminShared/_AdminLayout.cshtml";
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserCategory_Master</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.res_category_name_hi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.res_category_name_hi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.res_category_name_en)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.res_category_name_en)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.created_by)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.created_by)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Create_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Create_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.updated_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.updated_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.updated_by)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.updated_by)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.res_category_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
