@model rda_raipur.Models.TenderLiveModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TenderLiveModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tender_Start_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tender_Start_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tender_End_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tender_End_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Property_Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Property_Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TenderLiveId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
